# add git-ignore syntax here of things you don't want copied into docker image

__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env*
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
.git*
tests
postman


.git
.results
scripts
*Dockerfile*
node_modules
.env
venv