/* .imgStyle{
    @apply bg-gradient-to-r from-blue-500 to-indigo-500 rounded-l-md;
    position: relative;
    overflow: hidden;
} */

.logoAlumni{
    background: url(../utils/images/Logo_Alumni.png) no-repeat;
    /* background-size: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0; */
    width: 140px;
    height: 24px;
}

.logo{
    background: url(../utils/images/Logo.png) no-repeat;
    /* background-size: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0; */
    width: 100px;
    height: 24px;
}