.input_group{
    @apply flex border rounded-xl bg-slate-50;
    position: relative;
}

.input_text{
    @apply w-full py-4 pl-6 border rounded-xl bg-slate-50;
    @apply focus:outline-none border-none;
}

.button{
    @apply w-full bg-gradient-to-r from-blue-500 to-indigo-500 rounded-md;
    @apply py-3 text-gray-50 text-lg;
}

.button:hover{
    @apply bg-gradient-to-r from-blue-400 to-indigo-400 border-blue-500;
    @apply text-gray-700 border;
}

.input_text + *{
    color: #CBD5E1;
}

.input_text:focus + *{
    color: #6366f1;
}
