<html>

<body style="margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;">
    <table width="100%" style="background:#fff;min-width:320px" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td>
                    <table width="650" align="center" border="0"
                        style="max-width:650px;margin:0 auto;background-color:#ffffff;border-spacing:0" cellpadding="0"
                        cellspacing="0">
                        <tbody>
                            <tr>
                                <td style="padding:28px 24px 10px">
                                    <table align="center" width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td align="left" style="padding:0 0 24px">
                                                    <a style="text-decoration:none" href="" target="_blank">
                                                        <img src="https://firebasestorage.googleapis.com/v0/b/moolax-394fd.appspot.com/o/utility%2FLogo.png?alt=media"
                                                            width="65"
                                                            style="width:150px;max-width:265px;font-size:10px;font-family:'Whyte',Arial,Helvetica,sans-serif;line-height:14px;background-color:#ffffff;color:#000000;vertical-align:top;text-align:center"
                                                            alt="Moolax"></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td>

                                    <table align="center" width="476" style="max-width:476px;margin:0 auto"
                                        cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td align="center"
                                                    style="font-size:24px;line-height:32px;font-weight:bold;font-family:'Whyte',Arial,Helvetica,sans-serif;color:#000;padding:10px 37px 32px;text-align:center">
                                                    <strong>Forgot your password? It happens to the best of us.</strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table align="center" width="540" style="max-width:540px;margin:0 auto"
                                        cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td align="center"
                                                    style="color:#000000;font-size:18px;line-height:24px;font-family:'Whyte',Arial,Helvetica,sans-serif;text-align:center;padding:10px 24px 20px">
                                                    To reset your password, click the button below. The link will be
                                                    invalid
                                                    in 2 hours.
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table align="center" width="476" style="max-width:476px;margin:0 auto"
                                        cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td align="center" style="padding:20px 0 44px">
                                                    <table align="center" style="margin:0 auto" cellpadding="0"
                                                        cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center"
                                                                    style="background:#fff;color:#000;font-weight:bold;font-size:18px;line-height:22px;font-family:'Whyte',Arial,Helvetica,sans-serif;border:2px solid #000;border-radius:5px">
                                                                    <a style="padding:18px 27px 12px 27px;color:#000;text-decoration:none;display:block"
                                                                        href="" target="_blank">Reset Your Password</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table align="center" width="540" style="max-width:540px;margin:0 auto"
                                        cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td align="center"
                                                    style="color:#000000;font-size:14px;line-height:20px;font-family:'Whyte',Arial,Helvetica,sans-serif;text-align:center;padding:10px 24px 60px">
                                                    If you do not want to change your password or didn't request a
                                                    reset,
                                                    you can ignore and delete this email.</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table width="540" align="center" style="max-width:540px;margin:0 auto"
                                        cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td align="center"
                                                    style="border-top:1px solid #dedede;color:#a5a5a5;font-size:14px;line-height:18px;font-family:'Whyte',Arial,Helvetica,sans-serif;text-align:center;padding:60px 24px 32px">
                                                    Moolax is a money transfer platform for those who wish to send money
                                                    internationally. Moolax abstracts all the complexity involved in
                                                    carrying out money transfers and presents its users with a seemless
                                                    experience.</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td align="center" style="padding:10px 24px 46px">
                                    <table width="300" style="max-width:300px;margin:0 auto" cellpadding="0"
                                        cellspacing="0" align="center">
                                        <tbody>
                                            <tr>
                                                <td style="padding:0 0 32px" align="center">
                                                    <table align="center" style="margin:0 auto" cellpadding="0"
                                                        cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td width="30" style="font-size:1px;line-height:1px">
                                                                </td>
                                                                <td style="line-height:1px;font-size:1px">
                                                                    <a style="text-decoration:none" href=""
                                                                        target="_blank"><img
                                                                            src="https://firebasestorage.googleapis.com/v0/b/moolax-394fd.appspot.com/o/utility%2Ftwitter.png?alt=media"
                                                                            width="19"
                                                                            style="width:19px;max-width:19px;font-size:10px;line-height:12px;font-family:'Whyte',Arial,Helvetica,sans-serif;color:#000;background-color:#fff;vertical-align:top;text-align:center"
                                                                            alt="twitter"></a>
                                                                </td>

                                                                <td width="30" style="font-size:1px;line-height:1px">
                                                                </td>

                                                                <td style="line-height:1px;font-size:1px">
                                                                    <a style="text-decoration:none" href=""
                                                                        target="_blank"><img
                                                                            src="https://firebasestorage.googleapis.com/v0/b/moolax-394fd.appspot.com/o/utility%2Finstagram.png?alt=media"
                                                                            width="19"
                                                                            style="width:19px;max-width:19px;font-size:10px;line-height:12px;font-family:'Whyte',Arial,Helvetica,sans-serif;color:#000;background-color:#fff;vertical-align:top;text-align:center"
                                                                            alt="instagram"></a>
                                                                </td>

                                                                <td width="30" style="font-size:1px;line-height:1px">
                                                                </td>

                                                                <td style="line-height:1px;font-size:1px">
                                                                    <a style="text-decoration:none" href=""
                                                                        target="_blank"><img
                                                                            src="https://firebasestorage.googleapis.com/v0/b/moolax-394fd.appspot.com/o/utility%2Ffacebook.png?alt=media"
                                                                            width="19"
                                                                            style="width:19px;max-width:19px;font-size:10px;line-height:12px;font-family:'Whyte',Arial,Helvetica,sans-serif;color:#000;background-color:#fff;vertical-align:top;text-align:center"
                                                                            alt="facebook"></a>
                                                                </td>

                                                                <td width="30" style="font-size:1px;line-height:1px">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td align="center"
                                                    style="font-size:12px;line-height:17px;font-family:'Whyte',Arial,Helvetica,sans-serif;color:#a5a5a5;padding:0 0 32px">
                                                    420500, Innopolis City, University Street<br>
                                                    Republic of Tatarstan, Russian Federation</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</body>

</html>